
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <!-- Just an image -->
<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'images/download.jpg'%}" width="200" height="90" alt="">
  </a>
</nav>

  <a class="navbar-brand" href="{% url 'index' %}">Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" style="margin-right:30px; margin-left: 30px">
        <a class="nav-link" href="{% url 'view_all' %}">Playlist <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-right: 30px; margin-left: 30px;">
        <a class="nav-link" href="{% url 'albums' %}">Album</a>
      </li>
        <li class="nav-item" style="margin-right: 30px;margin-left: 30px">
        <a class="nav-link" href="{% url 'artists' %}">Artists</a>
      </li>
        <li class="nav-item" style="margin-right: 30px; margin-left: 30px">
        <a class="nav-link" href="{% url 'upload' %}">Upload</a>
      </li>
        <li class="nav-item" style="margin-right: 30px; margin-left: 30px">
        <a class="nav-link" href="{% url 'o_delete' %}">Delete</a>
      </li>

    </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="s1">
      <button class="btn btn-outline-secondaary" type="submit"><img src="{% static 'images/search.png' %}"> </button>

    </form>
  </div>
</nav>

